* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}
main {
  margin: 50px auto;
}
.box {
  width: 960px;
  display: flex;
  margin: 0 auto;
}
.text1 {
  margin-right: 30px;
  background-color: #eee;
  width: 300px;
  position: relative;
  padding: 10px;
  width: 100%;
}
.text:last-child {
  margin: 0;
}
.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}
.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
}
.img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
}
span {
  padding: 3px;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
footer {
  height: 50px;
  background-color: #aaa;
}
h3 {
  margin: 15px 0 5px 0;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .box {
    display: block;
    width: 90%;
  }
  .text1 {
    margin-bottom: 20px;
  }
}
